.advantages {
  // .advantages__container
  &__container {
    text-align: center;
    margin-top: 200px;
    @media (max-width: $md3+px) {
      margin-top: 110px;
    }
  }
  // .advantages__title
  &__title {
    margin-bottom: 120px;
    @media (max-width: $md3+px) {
      margin-bottom: 0;
    }
  }
  // .advantages__item-container
  &__item-container {
    display: flex;
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }
  // .advantages__item
  &__item {
    margin-left: 35px;
    margin-right: 35px;
    @media (max-width: $md3+px) {
      margin-top: 70px;
    }
  }
  // .advantages__icon
  &__icon {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  // .advantages__item-title
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    margin-top: 45px;
    margin-bottom: 35px;
    @media (max-width: $md3+px) {
      margin: 0;
    }
  }
  // .advantages__text
  &__text {
    line-height: 160%;
    opacity: 0.8;
  }
}