//<first-screen>=================================
.first-screen {
  height: 100%;
  background-image: url(../img/screen.webp);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.title {
  height: 750px;
  display: flex;
  align-items: center;
  // .title__container
  &__container {
    margin-bottom: 100px;
  }
  // .title__header
  &__header {
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    @media (max-width: $md3+px) {
      font-size: 45px;
    }
  }
  // .title__item-container
  &__item-container {
    display: flex;
    @media (max-width: $md3+px) {
      flex-wrap: wrap;
    }
  }
  // .title__item
  &__item {
    background: #121212;
    margin-right: 30px;
    padding: 20px 30px;
    width: 52px;
    text-align: center;
    @media (max-width: $md3+px) {
      margin-bottom: 30px;
    }
  }
  // .title__number
  &__number {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
  }
  // .title__text
  &__text {
    opacity: 0.4;
    margin: 0;
  }
}

.info {
  padding: 21px 0;
  background-color: #121212;
  // .info__container
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: $md3+px){
      flex-wrap: wrap;
      justify-content: center;
    }    
  }
  // .info__btn
  &__btn {
    flex: 0 0 auto;
    margin-right: 80px;
    @media (max-width: $md3+px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  &__btn-container {
    @media (max-width: $md3+px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.student {
  display: flex;
  margin-right: 80px;
  @media (max-width: $md3+px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  flex: 0 0 auto;
  // .student__text
  &__text {
    margin-right: 30px;
    opacity: 0.4;
    span {
      margin-bottom: 20px;
    }
  }
  // .student__number-of
  &__number-of {
    span {
      margin-bottom: 20px;
    }
  }
}

.income {
  display: flex;
  flex-direction: column;
  flex: 0 1 715px;
  // .income__earned
  &__earned {
    p {
      display: inline-block;
      opacity: 0.4;
      margin-right: 30px;
    }
  }
  // .income__line
  &__line-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      opacity: 0.4;
    }
  }
  // .icome__line
  &__line {
    width: 100%;
    background-color: #FFF;
    height: 6px;
    margin-bottom: 10px;
  }
  // .income__line-compleat
  &__line-compleat {
    width: 60%;
    height: 6px;
    background: linear-gradient(120deg, #DF5A51, #461147);
  }
}
//<first-screen>=================================